.AboutPage {
    display: grid;
    height: 80vh;
    align-items: center;
    justify-items: center;
}

.aPropos, .recrutement {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50%;
    width: 80%;
}