.ContactPage {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.h1 {
    margin-bottom: 0;
}

.successMessage {
    color: rgb(45, 167, 45);
}

.failureMessage {
    color: red;
}

.successMessage, .failureMessage {
    font-size: large;
    margin-top: 0;
}

@media only screen and (max-width: 400px) {
    .ContactPage, .h1 {
        width: 100%;
    }

    .h1 {
        text-align: center;
    }
}